@model ProductInventoryMvc.Models.Entity.Tbl_Customers
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Customer name</label>
        @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CustomerName, "", new { @style = "color:red" })
    </div>

    <div style="margin-top:15px">
        <label>Customer surname</label>
        @Html.TextBoxFor(m => m.CustomerSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CustomerSurname, "", new { @style = "color:red" })
    </div>

    <div style="margin-top:20px">
        <button class="btn btn-info">Add customer</button>
    </div>
</form>

