
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Customer name</label>
        <input type="text" class="form-control" name="CustomerName" />
    </div>

    <div style="margin-top:15px">
        <label>Customer surname</label>
        <input type="text" class="form-control" name="CustomerSurname" />
    </div>

    <div style="margin-top:20px">
        <button class="btn btn-info">Add customer</button>
    </div>
</form>

