@model ProductInventoryMvc.Models.Entity.Tbl_Sales
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Sale
</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Sale Screen</h2>
            </div>
            <form method="post" action="/Sale/NewSale">
                <div class="modal-body">
                    <label>
                        Product name
                    </label>
                    @Html.TextBoxFor(m => m.Product, new { @class = "form-control" })
                    <br />
                    <label>
                        Customer name
                    </label>
                    @Html.TextBoxFor(m => m.Customer, new { @class = "form-control" })
                    <br />
                    <label>
                        Amount
                    </label>
                    @Html.TextBoxFor(m => m.Piece, new { @class = "form-control" })
                    <br />
                    <label>
                        Price
                    </label>
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                    <br />
                    <button type="submit" class="btn btn-info">Sale</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

