
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Category name</label>
        <input type="text" class="form-control" name="CategoryName" />
    </div>

    <div style="margin-top:20px">
        <button class="btn btn-info">Add category</button>
    </div>
</form>

